.f-left{
    float: left;
}
.f-right{
    float: right;
}
/* padding top */
.pt-120{
    padding-top: 120px;
}
.pt-30{
    padding-top: 30px;
}

/* padding bottom */
.pb-30{
    padding-bottom: 30px;
}
.pb-90{
    padding-bottom: 90px;
}



/* margin-left */
.ml-40{
    margin-left: 40px;
}

/* margin bottom */
.mb-50{
    margin-bottom: 50px;
}
.mb-30{
    margin-bottom: 30px;
}