@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    transition: all 0.3s easc-out 0s;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

ul{
    list-style: none;
}

/* header */
.transparent-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.header-info-text span{
    color: #99a39f;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    display:block;
    margin-bottom: 10px;
}
.header-info-text h4{
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.header-info-icon i{
    color: #f87206;
    font-size: 14px;
}
.header-info-icon{
    margin-left: 15px;
}
.header-info ul li{
    display: inline-block;
    margin-right: 40px;
}

.header-login a{
    color: #cbd6e3;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.header-login a i{
    margin-right: 3px;
}

.menu-box{
    border: 2px solid #777781;
    padding: 0 38px;
}

.f-btn{
    background: #ec6e39;
    color: #fff;
    padding: 20px 30px;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
}

.main-menu ul li{
    display: inline-block;
    margin-left: 50px;
    position: relative;
}
.main-menu ul li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    padding: 30px 0;
}
.main-menu ul li:hover > a{
    color: #ec6e39;
}
.main-menu ul li .submenu{
    position: absolute;
    background: #fff;
    width: 230px;
    padding: 15px 0;
    border-top: 4px solid #ec6e39;
    top: 140%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.main-menu ul li:hover > .submenu{
    opacity: 1;
    visibility: visible;
    top: 120%;
}
.main-menu ul li .submenu li{
    display: block;
    margin: 0;
}
.main-menu ul li .submenu li a{
    color: #111;
    display: block;
    padding: 10px 25px
}

.main-menu ul li .submenu li:hover > a{
    color: #ec6e39;
}


/* hero */
.hero-area{
    height: 1020px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-wrapper a{
    background:#ec6e39;
    color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    line-height: 79px;
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
    z-index: 9;
}

.hero-wrapper h2{
    font-size: 80px;
    color: #fff;
}

.back-text{
    color: #fff;
    opacity: .1;
    font-size: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* section title */
.section-title span{
    color: #ec6e39;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}

.section-title h2{
    font-size: 50px;
}
.section-title{
    position: relative;
}
.s-back-title{
    position: absolute;
    font-size: 120px;
    left: 0;
    right: 0;
    opacity: .06;
    color: #121212;
    top: 0;
}
.testimonial-content{
    padding: 40px;
    border: 2px solid #e5e5e5;
    position: relative;
}
.testimonial-content:before {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #e5e5e5 transparent transparent transparent;
    transform: rotate(0deg);
    content: "";
    position: absolute;
    bottom: -13px;
    left: 65px;
 }
.testimonial-content p{
    margin: 0;
}
.review-icon{
    margin-bottom: 15px;
}
.review-icon i{
    margin-right: 5px;
    font-size: 13px;
    color: #ffae00;
}
.test-author img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.test-author {
    display: flex;
    align-items: center;
}
.test-author img{
    margin-right: 20px;
}
.test-author-info h4{
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 1;
}
.test-author-info span{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ec6e39;
    letter-spacing: 2px;
}


